/*.product-container {
    background-color: white;
    border-radius: 10px;
  }
  
  .main-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .thumb-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .thumb-img:hover {
    transform: scale(1.1);
    border-color: #ff9800;
  }
  
  .product-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .promotion-text {
    font-size: 0.9rem;
    color: red;
  }
  
  .color-options button,
  .size-options button {
    font-size: 0.9rem;
    padding: 5px 10px;
  }*/
  .imgcard1 {
    height: 500px;
    padding: 5px;
   
}
  .icones{
    font-size: 1rem;
  }
  
button:focus {
  outline: none;
}

span small {
  display: block;
  margin-top: 10px;
}

span small .icones {
  margin-right: 5px;
  font-size: 1.5rem;
}
.qte-producte{
  width: 90px;
  padding: 3px;
}