.category {
    border: 1px solid #ddd;
  
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .category:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .category-img {
    width: 100%;
    border:none;
    border-radius: 10px;
    height: 150px;
   
  }
  
  .category-title {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 0;
  }
  .hr1{
    width: 100%;
    background-color: #333;
    height: 10px;
  
  }
  .card-container1{
    display: flex;
    flex-wrap:nowrap;
    gap: 15px;
  }
 /* .card1-product{
    display: flex; 
     border: none;
     padding: 25px;
   
  }*/
  

.card1-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;

    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 20px;
    min-width: 300px;
    position: relative;
   
  }
  .card1-product img{
    border: none;
    width: 150px;
  }
  .off {
    position: absolute;
    top: 70px;
    left: 230px;
    background-color: orangered;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }